<div style="text-align: center;">

    <div class="wiyn_header_logo">
        <h1>
            <a href="{% url 'main:index' %}">
                너의 이름은
            </a>
        </h1>
    </div>
    <div class="wiyn_header_button">
        <span class="mx-2">
            <a href="{% url 'can:img_upload' %}">
                캔음료
            </a>
        </span>
        <span class="mx-2">
            <a href="{% url 'pack:img_upload' %}">
                팩음료
            </a>
        </span>
        <span class="mx-2">
            <a href="{% url 'cup:img_upload' %}">
                컵라면
            </a>
        </span>
    </div>

</div>